SmartHome/node-red-lviv-temperature.json
[{"id":"ca72b627.efc998","type":"tab","label":"Temperature","disabled":false,"info":""},{"id":"50e01733.22e2a","type":"json","z":"ca72b627.efc998","name":"","property":"payload","action":"","pretty":false,"x":370,"y":420,"wires":[["b1435f28.9239a8"]]},{"id":"b1435f28.9239a8","type":"function","z":"ca72b627.efc998","name":"Sql Insert","func":"var query = \"INSERT INTO Xiaomi_Temperature_Sensors_Lviv (Device, Temperature, LinkQuality, Humidity, Pressure, Battery, Voltage) VALUES (\";\n\nquery += \"'\" + msg.topic + \"',\";\n\nvar values = [\n    msg.payload.temperature,\n    msg.payload.linkquality,\n    msg.payload.humidity,\n    msg.payload.pressure,\n    msg.payload.battery,\n    msg.payload.voltage];\n\nfor (var i = 0; i<values.length; i++){\n  if (values[i] !== undefined)\n    query += values[i] + \",\";\n  else \n    query += \"null,\";\n}\n\n// Remove the last comma\nquery = query.slice(0, -1);\n\nquery += \")\";\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["6ff1f9e.1850d08"]]},{"id":"6ff1f9e.1850d08","type":"mysql","z":"ca72b627.efc998","mydb":"adcdb7d1.06135","name":"database","x":700,"y":420,"wires":[[]]},{"id":"ef0b0cd0.18289","type":"debug","z":"ca72b627.efc998","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":280,"wires":[]},{"id":"7d07a830.9551d8","type":"mqtt in","z":"ca72b627.efc998","name":"d5b8","topic":"zigbee2mqtt/0x00158d0003f0d5b8","qos":"2","datatype":"auto","broker":"7e495729.2c9c08","x":110,"y":460,"wires":[["50e01733.22e2a"]]},{"id":"45858ba9.4cbae4","type":"mqtt in","z":"ca72b627.efc998","name":"d65e","topic":"zigbee2mqtt/0x00158d0003f0d65e","qos":"2","datatype":"auto","broker":"7e495729.2c9c08","x":110,"y":380,"wires":[["50e01733.22e2a"]]},{"id":"162710d5.737d87","type":"mqtt in","z":"ca72b627.efc998","name":"b5b2","topic":"zigbee2mqtt/0x00158d000411b5b2","qos":"2","datatype":"auto","broker":"7e495729.2c9c08","x":110,"y":300,"wires":[["50e01733.22e2a"]]},{"id":"8f560bfb.bf1f5","type":"mqtt in","z":"ca72b627.efc998","name":"b5da","topic":"zigbee2mqtt/0x00158d000411b5da","qos":"2","datatype":"auto","broker":"7e495729.2c9c08","x":110,"y":540,"wires":[["50e01733.22e2a"]]},{"id":"adcdb7d1.06135","type":"MySQLdatabase","z":"","host":"68.183.222.243","port":"3306","db":"zigbee2mqtt","tz":""},{"id":"7e495729.2c9c08","type":"mqtt-broker","z":"","name":"lviv-rpi4-mosquitto","broker":"192.168.0.216","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]