SmartHome/node-red-lviv-temperature.json
[{"id":"39aeb255.c2bd2e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ed661197.77b12","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"44b97010.5298a","type":"tab","label":"Temperature","disabled":false,"info":""},{"id":"533201d5.7829e","type":"MySQLdatabase","z":"","host":"68.183.222.243","port":"3306","db":"zigbee2mqtt","tz":""},{"id":"342d3c48.185f54","type":"mqtt-broker","z":"","name":"lviv-rpi4-mosquitto","broker":"192.168.1.30","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57694661.952798","type":"json","z":"44b97010.5298a","name":"","property":"payload","action":"","pretty":false,"x":370,"y":420,"wires":[["d8d6c977.4c2ef8"]]},{"id":"d8d6c977.4c2ef8","type":"function","z":"44b97010.5298a","name":"Sql Insert","func":"var query = \"INSERT INTO Xiaomi_Temperature_Sensors_Lviv (Device, Temperature, LinkQuality, Humidity, Pressure, Battery, Voltage) VALUES (\";\n\nquery += \"'\" + msg.topic + \"',\";\n\nvar values = [\n    msg.payload.temperature,\n    msg.payload.linkquality,\n    msg.payload.humidity,\n    msg.payload.pressure,\n    msg.payload.battery,\n    msg.payload.voltage];\n\nfor (var i = 0; i<values.length; i++){\n  if (values[i] !== undefined)\n    query += values[i] + \",\";\n  else \n    query += \"null,\";\n}\n\n// Remove the last comma\nquery = query.slice(0, -1);\n\nquery += \")\";\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["ef8464c0.87d408"]]},{"id":"ef8464c0.87d408","type":"mysql","z":"44b97010.5298a","mydb":"533201d5.7829e","name":"database","x":700,"y":420,"wires":[[]]},{"id":"5fce6611.7819f8","type":"mqtt in","z":"44b97010.5298a","name":"d5b8","topic":"zigbee2mqtt/0x00158d0003f0d5b8","qos":"2","datatype":"auto","broker":"342d3c48.185f54","x":110,"y":460,"wires":[["57694661.952798"]]},{"id":"b1ef20ac.4fe16","type":"mqtt in","z":"44b97010.5298a","name":"d65e","topic":"zigbee2mqtt/0x00158d0003f0d65e","qos":"2","datatype":"auto","broker":"342d3c48.185f54","x":110,"y":380,"wires":[["57694661.952798"]]},{"id":"1a0da9e9.3f2326","type":"mqtt in","z":"44b97010.5298a","name":"b5b2","topic":"zigbee2mqtt/0x00158d000411b5b2","qos":"2","datatype":"auto","broker":"342d3c48.185f54","x":110,"y":300,"wires":[["57694661.952798"]]},{"id":"f22754a.72317a8","type":"mqtt in","z":"44b97010.5298a","name":"b5da","topic":"zigbee2mqtt/0x00158d000411b5da","qos":"2","datatype":"auto","broker":"342d3c48.185f54","x":110,"y":540,"wires":[["57694661.952798"]]},{"id":"98df4287.1c12d8","type":"mqtt in","z":"ed661197.77b12","name":"wall switch","topic":"zigbee2mqtt/0x00158d0003135eb7","qos":"2","datatype":"auto","broker":"342d3c48.185f54","x":240,"y":300,"wires":[["d1c85303.89336","f3aabe3d.0a762"]]},{"id":"89a086fa.359a5","type":"function","z":"ed661197.77b12","name":"Off","func":"msg.payload = '{\\\"state\\\":\\\"OFF\\\"}';\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":160,"wires":[["b9fafedb.5a3cc"]]},{"id":"5ffa4b67.018b94","type":"function","z":"ed661197.77b12","name":"On","func":"msg.payload = '{\\\"state\\\":\\\"ON\\\"}';\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":220,"wires":[["b9fafedb.5a3cc"]]},{"id":"b9fafedb.5a3cc","type":"mqtt out","z":"ed661197.77b12","name":"Light Bulb","topic":"zigbee2mqtt/0x00158d000396ad40/set","qos":"","retain":"","broker":"342d3c48.185f54","x":1070,"y":180,"wires":[]},{"id":"d1c85303.89336","type":"function","z":"ed661197.77b12","name":"Load Bulb State","func":"var bulbState = global.get(\"bulb_state\");\n\nif (bulbState === undefined)\n  bulbState = \"ON\";\n\nmsg.payload = bulbState;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["4add8346.46d88c"]]},{"id":"4add8346.46d88c","type":"switch","z":"ed661197.77b12","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":300,"wires":[["89a086fa.359a5"],["5ffa4b67.018b94"]]},{"id":"8d173866.db1a","type":"mqtt in","z":"ed661197.77b12","name":"Light Bulb","topic":"zigbee2mqtt/0x00158d000396ad40","qos":"2","datatype":"auto","broker":"342d3c48.185f54","x":240,"y":540,"wires":[["732ef377.e64c14","f3aabe3d.0a762"]]},{"id":"732ef377.e64c14","type":"json","z":"ed661197.77b12","name":"","property":"payload","action":"","pretty":false,"x":390,"y":540,"wires":[["5c32e476.91ce4c"]]},{"id":"5c32e476.91ce4c","type":"function","z":"ed661197.77b12","name":"Save Bulb State","func":"global.set(\"bulb_state\", msg.payload.state);","outputs":1,"noerr":0,"x":580,"y":540,"wires":[[]]},{"id":"fdb0cb79.f8835","type":"file","z":"ed661197.77b12","name":"","filename":"krakoza.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":610,"y":420,"wires":[[]]},{"id":"f3aabe3d.0a762","type":"function","z":"ed661197.77b12","name":"TimeStamp","func":"let bulb_saved_state = global.get(\"bulb_state\");\nlet timestamp = new Date (new Date().getTime()).toLocaleString({ timeZone: 'Europe/Kiev' });\n\nmsg.payload = timestamp + \" \" + \"[\" + bulb_saved_state + \"] \" + msg.payload; \n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["fdb0cb79.f8835"]]}]
